
.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}
.font-1 {
	font-family: 'Open Sans';
}
.font-2 {
	font-family: 'Bebas Neue Regular';
}
.font-3 {
	font-family: 'Bad Script';
}
.font-4 {
	font-family: 'Lobster';
}
